{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>
    <style>
        
        @page{
            size: "A4";
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;
            


            @bottom-right {
                content: "Page "counter(page) "of "counter(pages);
            }
        }

    </style>
</head>
<body>
    <div  class="row " style="display: flex; justify-content: center;">
        <h3 style="color: #cacace; font-size: 25px;" class="font-weight-bold"><b style="color: #FFD523;;" >Lap</b>Kart</h3>
    </div>
    <h2><u>Sales Report</u></h2>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>No.</th>
                <th>Brand</th>
                <th>Product</th>
                <th>Category</th>
                <th>Revenue</th>
                <th>Sold</th>
                <th>Profit</th>
                <th>Stock</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row"> {{forloop.counter}}</th>
                <td>{{product.brand_name}}</td>
                <td>{{ product.product_name }}</td>
                <td>

                    {{ product.category }}
                </td>
                <td>
                {% if product.get_revenue %}
                 {{product.get_revenue.0.revenue}}
                {% else %}
                Order not Completed
                {% endif %}
                </td>
                <td>
                    {% if product.get_revenue %}
                    {{product.get_count.0.quantity}}
                    {% else %}
                    Order not Completed
                    {% endif %}
                </td>
                <td>
                    {% if product.get_revenue %}
                    {{product.get_profit}}
                    {% else %}
                    none
                    {% endif %}

                </td>
                <td>
                    {{product.stock}}
                </td>
                <td>{{product.created_date}}</td>
               

            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>